header {
  background-color: #0b0a0a;
  padding: 16px;
  height: 50px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .logo {
    display: flex;
    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      display: flex;
      align-items: center;

      color: $white;

      margin-left: 16px;
    }
  }

  ul {
    li {
      display: inline-block;
      margin: 0 12px;
      a {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        text-align: center;

        color: $white;
        text-decoration: none;
      }
    }
  }
}
