.main-content {
  background-color: $gray;
  padding: 10vh 0;
  @media screen and (max-width: 1200px) {
    padding: 20px 0;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: $white;
    @media screen and (max-width: 1200px) {
      grid-template-columns: 1fr;
      grid-template-areas:
        "left"
        "controller"
        "right";
    }
  }
  .side {
    flex: 1;

    margin: 0 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    &.left {
      grid-area: left;
    }
    &.right {
      grid-area: right;
    }

    @media screen and (max-width: 1200px) {
      width: auto;
      margin: 20px 0;
    }
  }
  .algorithms {
    display: flex;
    margin-bottom: 2rem;
  }
  #myChart {
    background-color: $black;
    border-radius: 8px;
  }
  .controller {
    @media screen and (min-width: 1200px) {
      grid-column: span 2;
      margin-top: 36px;
    }
    display: flex;
    justify-content: center;
    grid-area: controller;
  }
}
