.main-content {
  background-color: $gray;
  padding: 10vh 0;
  @media screen and (max-width: 1200px) {
    padding: 20px 0;
  }
  .container {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-areas:
      "left"
      "controller"
      "right";
  }

  .side {
    flex: 1;

    margin: 0 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    &.left {
      grid-area: left;
    }
    &.right {
      grid-area: right;
    }

    @media screen and (max-width: 1200px) {
      width: auto;
      margin: 20px 0;
    }
  }
  .algorithms {
    display: flex;
    margin-bottom: 2rem;
  }
  #myChart {
    background-color: $black;
    border-radius: 8px;
  }
  .controller {
    @media screen and (min-width: 1200px) {
      grid-column: span 2;
      margin: 36px 0 24px;
    }
    display: flex;
    justify-content: center;
    grid-area: controller;

    #execute {
      position: relative;
      margin-left: 36px;
      padding: 12px;
      width: 240px !important;
      height: 55px;
      background-color: #3989c7;
      transform: translate3d(2px, 2px, 2px);
      filter: drop-shadow(rgba(57, 137, 199, 0.4) 3px 3px 0px);

      border: none;
      border-radius: 8px;
      cursor: pointer;
    }
    #execute,
    .minus,
    .more {
      width: 60px;
      height: 60px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      margin: 0 18px;
    }
    .minus {
      background-color: #e74856;
      filter: drop-shadow(rgba(231, 72, 86, 0.4) 3px 3px 0px);
    }
    .more {
      background-color: #35c26d;
      filter: drop-shadow(rgba(53, 194, 109, 0.4) 3px 3px 0px);
    }
    &:hover {
      filter: none !important;
    }
  }
}
